<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860555117139-sa6t50tcu76jduib40oo7r45rnkhi6af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860555117139-sa6t50tcu76jduib40oo7r45rnkhi6af</string>
	<key>API_KEY</key>
	<string>AIzaSyBIx6xD8KkD3t8SADDIIU4Yrhrn0YoBzjw</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.midasgo.ourwork</string>
	<key>PROJECT_ID</key>
	<string>ourwork-45336</string>
	<key>STORAGE_BUCKET</key>
	<string>ourwork-45336.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860555117139:ios:82aa63985082fdad</string>
	<key>DATABASE_URL</key>
	<string>https://ourwork-45336.firebaseio.com</string>
</dict>
</plist>
